:root {
    --blue: #2e68aa;
    --orange: #ec7323;
    --grey: #726f6f;
    --soft-orange: #f3805d;
    --white: #f7e8e8;
    --red: #bb1818;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--grey);
}

body {
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--grey);
    padding: 5px;
}

.container {
    display: flex;
}

.main-header {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--white);
    border-radius: 4px;
}

.main-header h2 {
    color: var(--orange);
    font-weight: 800;
    line-height: 100%;
    flex-grow: 1;
    text-align: center;
}

.main-header nav {
    flex-grow: 1;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}

.main-header nav a {
    margin-left: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.main-header nav a::before {
    content: "";
    height: 50%;
    width: 3px;
    background-color: var(--soft-orange);
    margin-right: 10px;
}

.main-header span {
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.main-header span img {
    width: 35px;
}

/*Main*/
button {
    border: none;
    background-color: var(--blue);
    padding: 10px;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    cursor: pointer;
}

.main {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.description {
    padding: 0 20px 0 20px;
}

.description h3 {
    color: var(--white);
    text-align: justify;
}

.main-movie {
    margin: 0 20px 0 20px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 4px;
}

.main-movie .container {
    flex-direction: row;
}

.main-movie .container .overview {
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-start;
}

.main-movie .container .overview p {
    text-align: justify;
}

.main-movie .container .overview .btns {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
}

.main-movie .container .overview .btns button {
    margin-right: 10px;    
}

.watch-btn {
    background-color: var(--red);
}

.main-movie img {
    width: 200px;
    border-radius: 4px;
}

.carousel {
    margin-top: 20px;
}

/*Responsive*/
@media screen and (max-width:700px) {
    .container {
        flex-direction: column;
    }

    .main-header {
        flex-direction: row;
    }

    .main-header nav {
        flex-direction: row;
    }

    .main-header nav a {
        line-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .main-header nav a::before {
        content: "";
        height: 0;
        width: 0;
        margin-right: 0;
    }

    .main-header h2 {
        font-size: 1em;
    }

    .main-header span {
        flex-direction: column;
        align-items: center;
        margin-right: 17px;
    }

    .main-header span p {
        font-size: 0;
    }

    .main {
        margin-top: 20px;
    }

    .main .description {
        margin-bottom: 20px;
    }

    .main-movie .container {
        flex-direction: column;
    }

    .main-movie .container .overview {
        order: 2;
        margin-top: 10px;
    }

    .main-movie img {
        order: 1;
    }

    .main-movie .container .overview p {
        margin-bottom: 10px;
    }
}
